{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-nested-ternary": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "unicorn/prevent-abbreviations": "off"
  }
}
